<div *ngIf="items$">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of items$| async" class="col-sm-6 col-md-4 col-lg-3">
            <div class="card mb-4 border-0">
                <div class="product-image">
                    <img [src]="'data:{{item.imageContentType}};base64,'+item.imageBg" class="card-img-top card-img-filter" alt="product-image">
                    <img class="favorite icon" src="../../../content/images/heart.svg" (click)="favoriteComposer(item.id!)" [ngClass]="{'favorite-true':isFavorite(item.id)}" alt="fav-icon">
                    <div class="icon-row">
                        <img class="icon me-2" src="../../../content/images/look.svg" alt="look-icon">
                        <img class="icon me-2" src="../../../content/images/cart-new.svg" alt="cart-icon">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <div class="card-price">
                        <span [ngClass]="{'discount-old':item.discount}">{{item.price|currency:'EUR':'symbol'}}</span>
                        <span class="discount-new"
                    *ngIf="item.discount">{{item.discount|currency:'EUR':'symbol'}}</span>
                    </div>
                </div>
                </div>
        </div>
</div>
